<div class="col-xs-12">
    <div class="jumbotron text-center">
        <h1>Add Item Below</h1>
    </div>
    <form name="groceryForm">

        <p><b>Dirty:</b> {{groceryForm.$dirty}}</p>
        <p><b>Pristine:</b> {{groceryForm.$pristine}}</p>
        <p><b>Valid:</b> {{groceryForm.$valid}}</p>

        <div class="alert alert-danger" role="alert" ng-show="groceryForm.$dirty && !groceryForm.$valid">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            Enter a valid grocery item!
        </div>

        <div class="form-group">
            <input type="text" class="form-control" placeholder="Grocery Item" ng-model="groceryItem.itemName" reqiured>
        </div>

        <div class="form-group">
            <button style="margin-bottom: 10px;" class="btn btn-primary btn-lg btn-block" ng-click="save()">
                <span class="glyphicon glyphicon-pushpin"></span>
                Save
            </button>
        </div>

        <div class="form-group">
            <a href="#/" type="button" class="btn btn-default btn-lg btn-block">
                <span class="glyphicon glyphicon-remove"></span>
                Cancel
            </a>
        </div>
    </form>


</div>

